* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.main {
  width: 50%;
  background-color: whitesmoke;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 5px 2px rgb(199, 199, 199);
  border-radius: 0.5rem;
}

li {
  list-style-type: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.2rem 0 1.2rem;
  align-items: flex-end;
}

.heading h1 {
  font-size: 1.5rem;
}

.input-field {
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid rgb(199, 199, 199);
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 0.5rem;
  display: flex;
}

.input-field input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 95%;
  margin: auto;
  margin-top: 0;
}

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 0.4rem;
  border: 1px solid gray;
  border-radius: 3px;
  gap: 3px;
}

.todo-item:hover{
  background-color: orange;
}

.todo-item input[type='text'] {
  width: 95%;
  padding: 0.6rem;
  border: none;
  outline: none;
}

.todo-item input:hover {
  background-color: orange;
}

.clear-fields {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  background-color: gray;
}

.btn {
  padding: 0.5rem 1rem;
}

.btn-clear {
  width: 100%;
  background-color: gray;
  cursor: pointer;
  border: none;
}

.btn-delete,
#btn-refresh {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

input[type='text']:focus {
  background-color: white;
}

.todo-item2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 0.4rem;
  border-bottom: 1px solid gray;
  background-color: orange;
}

.todo-item2 input[type='text'] {
  width: 95%;
  padding: 0.6rem;
  border: none;
  outline: none;
  background-color: orange;
  outline: none;
}